body {
    background-color: white;
}


header {
    padding: 10px;
    height: 80px;
    background-color: bisque;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    width: 70%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 200%;
    margin-left: 10px;
}

h3 {
    font-size: 120%;
    padding: 20px;
}

button {
    padding: 10px;
    margin-right: 10px;
    color: #fff;
    background-color: #d67c5e;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
} 

.row {
    display: flex;
    margin: 10px;
    width: 98%;
}

.custom-card {
    border-color: black;
    color: black;
}

.card {
    width: 500%; 
    height: 240px;
    border: 2px solid black;
    
}

.card-header {
    background-color: antiquewhite;
    height: 28%;
}

.card-body {
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

}

.card-content {
    font-size: 100%;
    padding: 20px;
}

.card-author {
    font-style: italic;
    font-size: 90%;
    padding: 20px;
}


/* Footer ------------------------------------------------------------------------------------------------------------------------*/
footer {
    padding: 18px;
    background-color: bisque;
    color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    margin-top: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 2px solid black;
}

footer nav {
    font-size: 20px;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: inherit; 
}